body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  height: 65px;
  font-size: 1.6vw;
  font-weight: bold;
}

ul {
  background-color: #e5e5e5;
  float: left;
  list-style: circle;
  width: 16%;
  text-align: center;
  margin-right: 10px;
  color: black;
}

li {
  border-bottom: thin solid #ccc;
  padding: 15px;
}

#movieContainer {
  text-align: center;
}

img {
  width: 40%;
  height: 500px;
  float: left;
  margin: 10px;
  border-radius: 10px;
}

button {
  margin: 20px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #3f9e45;
}
